[package]
name = "web"
version = "0.1.0"
edition = "2021"

[dependencies]
dioxus = { version = "0.6", features = ["router"] }

[features]
default = ["web"]
desktop = ["dioxus/desktop"]
mobile = ["dioxus/mobile"]
web = ["dioxus/web"]
